body{
  background: #F6FCEC;
}

.text-center{
  text-align: center;
}

ul > li{
  list-style: none;
  display: inline-block;
}

.generic-cont{
  padding-top: 60px;
}

.logo{
  width: 48px;
  height: 48px;
  margin-top: -14px;
}

.gem-images{
  padding: 0px;
  width: 120px;
  height: 120px;
}

.small-image{
  padding: 5px 0px 5px 10px;
}

.img-small{
  width: 64px;
  height: 64px;
}










/* -------- Navbar Customization ------- */

  .navbar-default {
    background-color: #32c34d;
    border-color: #29a740;
  }
  .navbar-default .navbar-brand {
    color: #fcfdfd;
  }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-text {
    color: #fcfdfd;
  }
  .navbar-default .navbar-nav > li > a {
    color: #fcfdfd;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #29a740;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #29a740;
  }
  .navbar-default .navbar-toggle {
    border-color: #29a740;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #29a740;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fcfdfd;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #fcfdfd;
  }
  .navbar-default .navbar-link {
    color: #fcfdfd;
  }
  .navbar-default .navbar-link:hover {
    color: #ffffff;
  }

  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #fcfdfd;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffffff;
      background-color: #29a740;
    }
  }
